<footer class="site-footer">
    <div class="wrapper">
        <h2 class="footer-heading">{{ site.title }}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col  footer-col-1">
                <ul class="contact-list">
                    <li>{{ site.title }}</li>
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                </ul>
            </div>

            <div class="footer-col  footer-col-2">
                <ul class="social-media-list">
                    <li>
                        <a target="_blank" class="icon-linkedin username" href="https://www.linkedin.com/in/mauriceperry">Linked in</a>
                    </li>
                    <li>
                        <a target="_blank" class="icon-gplus username" href="https://plus.google.com/105003383502499251992/">Google+</a>
                    </li>
                    <li>
                        <a target="_blank" class="icon-github username" href="https://github.com/robbyn">Githup</a>
                    </li>
                    <li>
                        <a target="_blank" class="icon-stackoverflow username" href="http://stackoverflow.com/users/72673/maurice-perry">StackOverflow</a>
                    </li>
                </ul>
            </div>

            <div class="footer-col  footer-col-3">
                <p class="text">{{ site.description }}</p>
            </div>
        </div>
    </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.analytics }}', 'auto');
  ga('send', 'pageview');

</script>
</footer>
